@using AspNetTagHelpersCheatSheet.TagHelpers;
@{
    ViewData["Title"] = "Home Page";
    int someNumber = 2149;
}

<div class="container" style="margin-top:5em">
    <simple></simple>
    <hr />

    <arbitrary-name></arbitrary-name>
    <hr />

    <empty-element />

    <div hello-prefix>World !</div>
    <hr />

    <p>Initial Content</p>
    <hr />

    <with-arguments number-arg="someNumber" 
                    string-arg="Kablam" 
                    object-arg="new Holder { Id = 404 }">

    </with-arguments>
</div>
