@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="margin-top:5em">
    <simple></simple>
    <hr />

    <arbitrary-name></arbitrary-name>
    <hr />

    <empty-element />
</div>
